.question {
	border-left: 5px solid black;
	border-radius: 3px;
}
* {
  border-radius: 0 !important;
}
:disabled{
	background-color: #ccc !important;
	border-color: #ccc;
}


#cat_form, #other_form{
	display:none;
}

/*form select*/

#dog_select, #cat_select, #other_select{
	margin: 0px;
	background-color: #eee;
	border: 1px black solid;
}
.selected{
	color: #28a745;
	background-color: #ccc !important;
}